language: rust
services: docker
sudo: required

before_install:
  - set -e
  - export SCCACHE_CACHE_SIZE=200M
  - export SCCACHE_DIR="$TRAVIS_HOME/.cache/sccache"

install:
  - (cargo install sccache || true)
  - export PATH="$PATH:$TRAVIS_HOME/.cargo/bin"
  - export RUSTC_WRAPPER="sccache"

cache:
  directories:
    - $TRAVIS_HOME/.cache/sccache
    - $TRAVIS_HOME/.cargo

# See https://levans.fr/rust_travis_cache.html
before_cache:
  - rm -rf "$TRAVIS_HOME/.cargo/registry"

after_script:
  - sccache -s
  - set +e

matrix:
  fast_finish: true
  include:
    - rust: stable
      script:
        - cargo test --all -- --skip dpc --skip integration_test
        - cargo check --examples --all 
        - cargo check --all-features --examples --all

    - rust: nightly
      install:
        - rustup component add rustfmt
      script:
        - cargo fmt -- --check
        - cargo test --all -- --skip dpc --skip integration_test
        - cargo check --examples --all --benches
        - cargo check --all-features --examples --all --benches

    - rust: stable
      install:
        - rustup target add thumbv6m-none-eabi
      env: RUSTFLAGS='-C target-cpu=cortex-a7'
      after_script:
        - set +e
      script:
        # test algebra
        - cd algebra-core
        - cargo build -p algebra-core --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p algebra --no-default-features --target thumbv6m-none-eabi
        - cd ..
        # test algebra
        - cd algebra
        - cargo build -p algebra --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p algebra --no-default-features --target thumbv6m-none-eabi
        - cd ..
        # test r1cs-core
        - cd r1cs-core 
        - cargo build -p r1cs-core --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p r1cs-core --no-default-features --target thumbv6m-none-eabi
        - cd ..
        # test r1cs-std
        - cd r1cs-std
        - cargo build -p r1cs-std --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p r1cs-std --no-default-features --target thumbv6m-none-eabi
        - cd ..
        # test ff-fft
        - cd ff-fft
        - cargo build -p ff-fft --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p ff-fft --no-default-features --target thumbv6m-none-eabi
        - cd ..
        # test groth16
        - cd groth16
        - cargo build -p groth16 --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p groth16 --no-default-features --target thumbv6m-none-eabi
        - cd ..
        # test gm17 
        - cd gm17
        - cargo build -p gm17 --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p gm17 --no-default-features --target thumbv6m-none-eabi
        - cd ..
        # test crypto-primitives
        - cd crypto-primitives
        - cargo build -p crypto-primitives --no-default-features --target thumbv6m-none-eabi
        - cargo check --examples -p crypto-primitives --no-default-features --target thumbv6m-none-eabi
        - cd ..

script:
  - echo "script!"
